:root {
  --md-sys-color-primary: rgb(32 106 78);
  --md-sys-color-surface-tint: rgb(32 106 78);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(169 242 205);
  --md-sys-color-on-primary-container: rgb(0 33 20);
  --md-sys-color-secondary: rgb(77 99 87);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(207 233 217);
  --md-sys-color-on-secondary-container: rgb(10 31 22);
  --md-sys-color-tertiary: rgb(61 99 115);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(193 233 251);
  --md-sys-color-on-tertiary-container: rgb(0 31 41);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(245 251 245);
  --md-sys-color-on-background: rgb(23 29 26);
  --md-sys-color-surface: rgb(245 251 245);
  --md-sys-color-on-surface: rgb(23 29 26);
  --md-sys-color-surface-variant: rgb(219 229 221);
  --md-sys-color-on-surface-variant: rgb(64 73 67);
  --md-sys-color-outline: rgb(112 121 115);
  --md-sys-color-outline-variant: rgb(191 201 193);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 46);
  --md-sys-color-inverse-on-surface: rgb(237 242 236);
  --md-sys-color-inverse-primary: rgb(141 213 178);
  --md-sys-color-primary-fixed: rgb(169 242 205);
  --md-sys-color-on-primary-fixed: rgb(0 33 20);
  --md-sys-color-primary-fixed-dim: rgb(141 213 178);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 56);
  --md-sys-color-secondary-fixed: rgb(207 233 217);
  --md-sys-color-on-secondary-fixed: rgb(10 31 22);
  --md-sys-color-secondary-fixed-dim: rgb(180 204 189);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 75 64);
  --md-sys-color-tertiary-fixed: rgb(193 233 251);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 41);
  --md-sys-color-tertiary-fixed-dim: rgb(165 204 222);
  --md-sys-color-on-tertiary-fixed-variant: rgb(36 76 91);
  --md-sys-color-surface-dim: rgb(214 219 214);
  --md-sys-color-surface-bright: rgb(245 251 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 239);
  --md-sys-color-surface-container: rgb(234 239 233);
  --md-sys-color-surface-container-high: rgb(228 234 228);
  --md-sys-color-surface-container-highest: rgb(222 228 222);
}
